name: Demo Compose App

on:
  push:
    branches: [ "main", "develop" ]
    paths:
      - 'examples/demo-compose-app/**'
  pull_request:
    paths:
      - 'examples/demo-compose-app/**'

env:
  JAVA_VERSION: 17
  JAVA_DISTRIBUTION: 'corretto'

jobs:
  app-compilation:

    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        gradle-tasks: [
          "ktlintCheck lint :androidApp:assembleDebug :androidApp:assembleRelease",
          ":desktopApp:jar",
          ":webApp:composeCompatibilityBrowserDistribution"
        ]
        os: [ ubuntu-latest ]
        include:
          - gradle-tasks: ":commonApp:iosSimulatorArm64Binaries"
            os: macos-latest-xlarge

    steps:
      - name: Configure Git
        run: |
          git config --global core.autocrlf input
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: gradle

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          # Cache downloaded JDKs/konan in addition to the default directories.
          gradle-home-cache-includes: |
            caches
            notifications
            jdks
            ~/.konan/**

      # Check that demo app in examples compiles successfully.
      # It is an independent Gradle project, so it has to be checked separately.
      - name: Assemble target
        working-directory: ./examples/demo-compose-app
        run: ./gradlew ${{ matrix.gradle-tasks }} --stacktrace
        env:
          JAVA_OPTS: "-Xmx8g -Dfile.encoding=UTF-8 -Djava.awt.headless=true -Dkotlin.daemon.jvm.options=-Xmx6g"
