name: Trip Planning Example

on:
  push:
    branches: [ "main", "develop" ]
    paths:
      - 'examples/trip-planning-example/**'
  pull_request:
    paths:
      - 'examples/trip-planning-example/**'

jobs:
  app-compilation:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Configure Git
        run: |
          git config --global core.autocrlf input
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'corretto'

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Assemble
        working-directory: ./examples/trip-planning-example
        run: ./gradlew assemble
